<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo Python Bhaskara</title>
</head>
<body>
    <form method="POST" action="{{url_for('bhaskara')}}">
        Informe o valor de A: <input type="text" name="a"/>
        Informe o valor de B: <input type="text" name="b"/>
        Informe o valor de C: <input type="text" name="c"/>
        <button type="submit">Calcular Raizes</button>
    </form>
</body>
</html>